:root {
  --color-dark: #000;
  --color-dark-80: #000C;
  --color-dark-field: #4C4C4C;
  --color-light: #FFF;
  --color-gray:#8A8A8A ;
  --color-blue: #3897DE;
  --color-blue-lightest: rgba(72, 154, 211, 0.8);
  --color-blue-lighter: #2783C5;
  --color-blue-medium: #2552A0;
  --color-blue-darker: #0053FF;
  --color-blue-darkest: #0972c0;
  --color-blue-extra: #054878;
}