:root {
  --font-family-mark: 'Marck Script', sans-serif;
  --font-family-primary: 'Lora Variable', sans-serif;


  // line heights
  --line-height-s: 140%;

  // font sizes
  --font-size-default: 1rem; // 16px


  // font weights
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
}

